#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: right;
  padding: 0.5rem;
  box-sizing: border-box;
  background-color: #181818;
  -webkit-app-region: drag;
}

header button {
  all: unset;
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  margin: 0.25rem;
  -webkit-app-region: no-drag;
  position: relative;
}

#close {
  background-color: red;
}

#close:hover {
  background-color: #b30000; /* Slightly darker red */
}

#close:hover::after {
  content: "×";
  color: rgba(0, 0, 0, 0.4);
  font-size: 0.9rem;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#minimize {
  background-color: yellow;
}

#minimize:hover {
  background-color: #e6e600; /* Slightly darker yellow */
}

#minimize:hover::after {
  content: "–";
  color: rgba(0, 0, 0, 0.4);
  font-size: 0.9rem;
  font-weight: bold;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#maximize {
  background-color: lime;
}

#maximize:hover {
  background-color: #66b300; /* Slightly darker lime */
}

#maximize:hover::after {
  content: "□";
  color: rgba(0, 0, 0, 0.4);
  font-size: 0.9rem;
  font-weight: bold;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
