header {
  width: 100%;
  text-align: right;
  padding: 0.5rem;
  box-sizing: border-box;
  background-color: #181818;
  -webkit-app-region: drag;
}

header button {
  all: unset;
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  margin: 0.25rem;
  -webkit-app-region: no-drag;
  position: relative;
}

#close {
  background-color: red;
}

#close:hover {
  background-color: #b30000; /* Slightly darker red */
}

#close:hover::after {
  content: "×";
  color: rgba(0, 0, 0, 0.4);
  font-size: 0.9rem;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#minimize {
  background-color: yellow;
}

#minimize:hover {
  background-color: #e6e600; /* Slightly darker yellow */
}

#minimize:hover::after {
  content: "–";
  color: rgba(0, 0, 0, 0.4);
  font-size: 0.9rem;
  font-weight: bold;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#maximize {
  background-color: lime;
}

#maximize:hover {
  background-color: #66b300; /* Slightly darker lime */
}

#maximize:hover::after {
  content: "□";
  color: rgba(0, 0, 0, 0.4);
  font-size: 0.9rem;
  font-weight: bold;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main {
  display: grid;
  grid-template-columns: 16rem auto;
  gap: 1rem;
  align-items: center;
  margin: 1rem;
  max-width: 900px;
  margin: auto;
  margin-top: 4rem;
}

.mainGrid {
  height: 10rem;
  padding: 0.5rem;
}

.selectOption {
  display: block;
  padding: 0.5rem;
  width: 100%;
  background-color: #2c2c2c;
  margin: 0.5rem 0;
  border-radius: 0.5rem;
  cursor: pointer;
}

.selectOption:hover {
  background-color: #333;
}

.selectOptionTitle {
  display: flex;
  gap: 0.5rem;
}

.selectOptionTitle :first-child {
  font-weight: 600;
}

.selectOptionTitle :nth-child(2) {
  font-weight: 400;
  font-size: 0.8rem;
}

.selectOptionChart {
  height: 2rem;
  width: 100%;
}

.selectOptionChart * {
  cursor: pointer;
}
